.navbar {
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(218, 221, 221) 36%, rgb(165, 169, 169));
  font-size: 20px;
  justify-content: space-around;
  padding: 20px;
}

